// This Source Code Form is subject to the terms of
// the Mozilla Public License, v. 2.0. If a copy of
// the MPL was not distributed with this file, You
// can obtain one at http://mozilla.org/MPL/2.0/.



//
// This is the main file used by Framework targets on OS X.
// It gets included by {target}-osx.xcconfig
//




// Architectures
//
SDKROOT = macosx

// Deployment
//
MACOSX_DEPLOYMENT_TARGET = 10.9
DYLIB_INSTALL_NAME_BASE = @rpath
FRAMEWORK_VERSION = A



//Linking
//
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/Mac $(PLATFORM_DIR)/Developer/Library/Frameworks
